main {
    .container {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 0px;
        justify-content: center;
        align-content: center;
    }
}

app-square {
    border: 1px gray solid;
    height: 200px;
}

.space {
    margin-bottom: 25px !important;
}